$primaryColor: green;
$secondaryColor: #90EE90;
$fontColor: #333;
$backgroundColor: #f3f7f7;

$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;